# Total

In [3]:
import munpack

product_footprints = munpack.datasets.load_product_footprints()

In [4]:
product_footprints

        year category product_id  footprint  units
0       2021    DRESS   848be709      96.04    803
1       2021    DRESS   658f92b3      58.15   3367
2       2021    DRESS   3a26f323      82.94    240
3       2021    DRESS   6221dca6      85.94    432
4       2021    DRESS   46864ac5      84.99    816
...      ...      ...        ...        ...    ...
155272  2023   TSHIRT   3a455f3a      10.19   1845
155273  2023   TSHIRT   3910d2b4      12.97    256
155274  2023   TSHIRT   103a1973       8.54      1
155275  2023   TSHIRT   52ed5633       7.90      6
155276  2023   TSHIRT   7783b9fe      10.32    134

[155277 rows x 5 columns]